:root {
  --main-bg-color: rgba(58, 94, 169, 1);
  --second-bg-color: rgba(255, 203, 5, 1);
}

.App {
  text-align: center;
}

.searchArea {
  background: linear-gradient(to left, var(--main-bg-color) 0%, var(--second-bg-color) 100%);
  margin: 0;
  text-align: center;
  padding: 20px;
}

.searchArea h1 {
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: x-large;
}

.logo {
  width: 30%;
}
