:root {
    --main-bg-color: rgba(58, 94, 169, 1);
    --second-bg-color: rgba(255, 203, 5, 1);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: bold;
    margin: 0px;
}

p {
    margin: 0px;
    color: whitesmoke;
}

.card {
    display: block;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}

.card:hover {
    background: var(--second-bg-color);
}

.compact {
    background: var(--main-bg-color);
    width: 180px;
}

.expand {
    background: var(--second-bg-color);
    width: 180px;
}